@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Lumanosimo&family=Merienda:wght@300..900&family=Nothing+You+Could+Do&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sorts+Mill+Goudy:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Sorts+Mill+Goudy";
  background-color: #ebe6e6;
  padding: 0;
  position: relative;
}

#container {
  display: flex;
  gap: 10px;
  height: 100vh;
  position: relative;
}

#sidebar-container {
  padding-top: 70px;
  min-height: 100vh;
  background-color: rgba(51, 51, 51, 0.1);
  backdrop-filter: blur(2rem);
  width: 250px;
  transition: all 0.3s ease;
  flex-shrink: 0;
  z-index: 1000;
  position: relative;
}

#sidebar {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 20px 1.2em 1em 1em;
  align-self: self-start;
  font-size: 0.95rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: lightslategray transparent;
}

#sidebar::-webkit-scrollbar {
  width: 6px;
}

#sidebar::-webkit-scrollbar-track {
  background: transparent;
}

#sidebar::-webkit-scrollbar-thumb {
  background: lightslategray;
  border-radius: 3px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.test:first-of-type {
  margin-top: 0;
}

.test > div:first-of-type,
ul#projects-list > div:first-of-type {
  margin-top: 15px;
}

.test h4 {
  font-size: 1.1rem;
}

.test > div,
ul#projects-list > div {
  margin-top: 15px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 0 0 5px 0;
  padding: 0.4em 0.8em 0.4em 0.5em;
  transition: all 0.3s ease;
}
.test > div > p:first-of-type,
ul#projects-list > div > p:first-of-type {
  flex-grow: 1;
}
.number,
.num-of-project-items {
  font-size: 1.1rem;
}
.test > div:focus,
.test > div:hover,
ul#projects-list > div:hover,
ul#projects-list > div:focus {
  background-color: #777;
  border-radius: 10px;
}

.project-menu-svg {
  display: none;
}
.project-item:hover > .project-menu-svg,
.project-item:focus > .project-menu-svg {
  display: block;
}
.project-item:hover > .project-menu-svg:hover,
.project-item:focus > .project-menu-svg:hover {
  border-radius: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #808080;
  transition: all 0.2s ease-in-out;
  transform: scale(1.07);
  cursor: pointer;
}
.project-item:hover > .num-of-project-items,
.project-item:focus > .num-of-project-items {
  display: none;
}

div.add-project {
  font-size: 1rem;
  font-family: "lumanosimo";
  padding: 0.2em 0.5em;
  height: 46px;
  border: 2px solid #808080;
  border-radius: 7px;
}
div.add-project:hover {
  cursor: pointer;
}

.add-project span {
  font-size: 2rem;
}
#main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  overflow-y: auto;
  align-items: center;
  scrollbar-width: thin;
  scrollbar-color: lightslategray transparent;
}

#main-content::-webkit-scrollbar {
  width: 6px;
}

#main-content::-webkit-scrollbar-track {
  background: transparent;
}

#main-content::-webkit-scrollbar-thumb {
  background: lightslategray;
  border-radius: 3px;
}

#main-content::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.welcome {
  margin-left: auto;
  font-family: "lumanosimo";
  font-size: 1.2rem;
  padding-right: 10px;
}

#task-list {
  padding: 10px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
  transition: all 0.3s ease;
}

.tasks-heading {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "lumanosimo";
}

.task-item {
  display: flex;
  align-items: flex-start;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 6px;
  color: #111;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  gap: 15px;
}

.task-checkbox-wrapper {
  flex-shrink: 0;
}

.custom-checkbox-label {
  display: block;
  cursor: pointer;
  position: relative;
}

label.custom-checkbox-label {
  margin: 1rem 0 0.5rem;
  width: 100%;
  color: #bbb;
  font-size: 1rem;
  font-family: "lumanosimo";
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.task-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

span.custom-checkbox-display {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #e6ebeb;
  border: 1px solid #444 !important;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition:
    background-color 0.2s,
    border-color 0.2s;
  flex-shrink: 0;
}

.task-checkbox:checked + .custom-checkbox-display {
  background-color: #28a745;
  border-color: #28a745;
}

.task-checkbox:checked + .custom-checkbox-display::after {
  content: "";
  display: block;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(45deg);
  opacity: 1;
}

.task-checkbox:focus + .custom-checkbox-display {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.task-body {
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.task-body:hover {
  cursor: pointer;
}
.task-details {
  display: flex;
  justify-content: space-between;
}

.task-item.completed .first-para span,
.task-item.completed .second-para span {
  text-decoration: line-through;
  color: #888;
}
.task-item.completed .priority-pill,
.task-item.completed .date-pill {
  color: #888;
}

.first-para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin: 0;
  max-width: 60%;
  text-wrap: wrap;
}
.first-para span:first-of-type {
  font-family: "lumanosimo", cursive;
  font-size: 1.1em;
  font-weight: 500;
  /* white-space: nowrap; */
  overflow-wrap: anywhere;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: wrap;
  align-self: start;
  word-break: break-word;
}

.priority-pill {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 12px;
  padding: 4px 8px;
  font-family: "poppins", sans-serif;
  font-size: 0.85em;
  color: #333;
  flex-shrink: 0;
}

.second-para {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}
.second-para > * {
  max-width: 100px;
}
.first-para span:last-of-type {
  font-size: 0.85rem;
  color: #666;
  font-family: "lugrasimo", cursive;
  flex-grow: 1;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: start;
  text-wrap: wrap;
  word-break: break-word;
}

.date-pill {
  background-color: peachpuff;
  border-radius: 6px;
  padding: 4px 8px;
  font-family: "poppins", sans-serif;
  font-size: 0.85em;
  color: #444;
  margin-top: 5px;
  flex-shrink: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  transform: translateY(-100%);
}
#project-dialog {
  margin: auto;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  height: 160px;
  width: 280px;
}
/* #project-dialog::backdrop {
  background-color: darkorange;
  background-image: linear-gradient(
    130deg,#ff7a18,
    #af002d 41.07%,
    #319197 76.05%
  );
} */
#project-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
#project-form h2 {
  font-size: 1.2rem;
  text-align: center;
}
.menu {
  display: flex;
  gap: 10px;
  width: 100%;
}
.menu > * {
  padding: 8px 10px;
  flex: 1;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s ease;
}
.menu > *:hover,
.menu > *:focus {
  background-color: #ddd;
}
label#project-title-label,
#modifyProjectLabel {
  margin: 1rem 0 0.5rem;
  font-size: 1.4rem;
  width: 100%;
}
label#project-title-label input#projectTitle,
#modifyProjectTitleInput {
  border-radius: 6px;
  border: none;
  background-color: #999;
  padding: 10px 10px 10px 20px;
  width: 100%;
  font-size: 1rem;
}
label#project-title-label input#projectTitle:focus,
#modifyProjectTitleInput:focus {
  background-color: #ddd;
}

.add-task-btn {
  border: none;
  font-size: 1rem;
  box-sizing: border-box;
  max-width: 350px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 12px;
  background-color: #222;
  font-family: "poppins";
  color: #fff;
  transition: background-color 0.3s ease;
  margin-top: auto;
}
.add-task-btn:hover {
  background-color: #444;
  cursor: pointer;
}
#todo-dialog {
  margin: auto;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  height: 500px;
  width: 350px;
  background-color: #444;
  color: #fff;
}
#todo-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
#todo-form h2 {
  font-size: 1.4rem;
  text-align: center;
  color: #bbb;
}
menu.task-dialog-menu {
  display: flex;
  gap: 10px;
  width: 100%;
}
menu.task-dialog-menu > * {
  padding: 8px 10px;
  flex: 1;
  border-radius: 8px;
  border: none;
  background-color: #444;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #bbb;
}
menu.task-dialog-menu > *:hover,
menu.task-dialog-menu > *:focus {
  background-color: #555;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

label#task-label {
  margin: 1rem 0 0.5rem;
  width: 100%;
  color: #bbb;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
label#task-label:last-of-type {
  display: flex;
  flex-direction: row;
}
label#task-label:last-of-type > * {
  flex: 1;
  border: none;
  outline: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

label#task-label .input {
  border-radius: 6px;
  color: #bbb;
  border: none;
  background-color: #444;
  padding: 10px 10px 10px 20px;
  width: 100%;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
label#task-label .input:focus {
  background-color: #333;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  outline: none;
  color: #fff;
}
textarea.input {
  resize: none;
}
.select {
  background-color: #444;

  color: #bbb;
}
.select:focus {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
#modifyTodoDialog {
  margin: auto;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  height: 500px;
  width: 350px;
  background-color: #444;
  color: #fff;
}
#modifyTodoForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
#modifyTodoForm h2 {
  font-size: 1.4rem;
  text-align: center;
  color: #bbb;
}
menu.modifyTodoMenu {
  display: flex;
  gap: 10px;
  width: 100%;
}
menu.modifyTodoMenu > * {
  padding: 10px 10px;
  flex: 1;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #eee;
  font-size: 0.9rem;
}

.modifyTodoMenu > :first-child {
  background-color: #dc3545;
}
.modifyTodoMenu > :last-child {
  background-color: #28a745;
}
.modifyTodoMenu > :first-child:hover,
.modifyTodoMenu > :first-child:focus {
  background-color: #c82333;
}
.modifyTodoMenu > :last-child:hover,
.modifyTodoMenu > :last-child:focus {
  background-color: #218838;
}

label.modifyTask-label {
  margin: 1rem 0 0.5rem;
  width: 100%;
  color: #bbb;
  font-size: 1rem;
  font-family: "lumanosimo";
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.modifyTask-label:last-of-type {
  display: flex;
  flex-direction: row;
}
.modifyTask-label:last-of-type > * {
  flex: 1;
  border: none;
  outline: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.modifyInput {
  border-radius: 6px;
  color: #bbb;
  border: none;
  background-color: #444;
  padding: 10px 10px 10px 20px;
  width: 100%;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.modifyInput:focus {
  background-color: #333;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  outline: none;
  color: #fff;
}
textarea.modifyInput {
  resize: none;
}
.modifySelect {
  background-color: #444;

  color: #bbb;
}
.modifySelect:focus {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.pop-up {
  position: absolute;
  /* left: 150px;
  top: 1px; */
  background-color: #666;
  color: #999;
  padding: 0;
  border-radius: 8px;
  z-index: 2000;
}
.pop-up > * {
  padding: 8px 30px;
  cursor: pointer;
  text-align: center;
}
.pop-up > :hover {
  background-color: #999;
  color: #666;
}
.pop-up > :first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.pop-up > :last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#modifyProjectDialog {
  margin: auto;
  padding: 1.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  height: 200px;
  width: 310px;
  background-color: #333;
  color: #eee;
}
#modifyProjectForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
#modifyProjectForm h2 {
  font-size: 1.4rem;
  text-align: center;
  font-family: "poppins";
}

.modifyProjectMenu {
  display: flex;
  gap: 10px;
  width: 100%;
}
.modifyProjectMenu > * {
  padding: 8px 10px;
  flex: 1;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s ease;
}
.modifyProjectMenu > :first-child {
  background-color: #dc3545;
}
.modifyProjectMenu > :last-child {
  background-color: #28a745;
}
.modifyProjectMenu > :first-child:hover,
.modifyProjectMenu > :first-child:focus {
  background-color: #c82333;
}
.modifyProjectMenu > :last-child:hover,
.modifyProjectMenu > :last-child:focus {
  background-color: #218838;
}
.hamburger-btn {
  background: none;
  border: none;
  cursor: pointer;
  text-align: start;
  width: min-content;
  padding: 0.4em 0.4em;
  position: fixed;
  top: 15px;
  z-index: 1100;
  left: 20px;
  transition: all 0.3s ease;
}

.hamburger-btn .sidebar-left {
  width: 25px;
  aspect-ratio: 1;
  background-image: url("./images/sidebar-left-svgrepo-com.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hamburger-btn:hover {
  background-color: rgba(51, 51, 51, 0.1);
  backdrop-filter: blur(3rem);
  border-radius: 10px;
}
#sidebar-container.close {
  padding: 0px;
  width: 80px;
  overflow: hidden;
  text-wrap: nowrap;
}
#sidebar-container.close h4,
#sidebar-container.close p,
#sidebar-container.close .projects.test {
  display: none;
}
#sidebar-container.close .test > div:first-of-type {
  margin-top: 80px;
}
@media (max-width: 768px) {
  .test > div,
  ul#projects-list > div {
    gap: 1rem;
  }
  .project-item.active > .project-menu-svg {
    display: block;
  }
  .project-item.active {
    background-color: #777;
    border-radius: 10px;
  }
  .project-item.active > .num-of-project-items {
    display: none;
  }
  #main-content {
    position: fixed;
    left: 70px;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
  #sidebar-container.close div.sidebar-item {
    margin-bottom: 25px;
  }
  #sidebar-container {
    max-width: 225px;
  }
  #side-bar {
    max-width: 225px;
    width: 100%;
    scrollbar-color: #aaa transparent;
  }
  .add-task-btn {
    margin-bottom: 50px;
    max-width: 250px;
  }
}
@media (max-width: 600px) {
  .task-item {
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .task-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
  }
  .first-para {
    grid-column: span 2;
    max-width: 100%;
    gap: 3px;
  }
  .second-para {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 70px 100px;
    align-items: center;
  }
}
@media (max-width: 388px) {
  .task-item {
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .task-body:hover {
    border-radius: 0px;
    transform: none;
    box-shadow: none;
    padding: none;
    transition: none;
  }
  .task-details {
    display: flex;
    flex-direction: column;
  }
  .first-para {
    display: flex;
    flex-direction: column;
  }
  .second-para {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media (max-width: 348px) {
  .second-para {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
